/*隐藏底部gitbook */
.gitbook-link {
    display: none !important;
}
.summary > li:nth-child(4) {
    display: none !important;
}
li.chapter {
    padding-left: 20px;
}

.book-summary {
    font-size: 1.2rem;
}

.book-body {
    font-size: 1.5rem;
}
