/*隐藏底部gitbook */
.gitbook-link {
    display: none !important;
}
.summary > li:nth-child(4) {
    display: none !important;
}
li.chapter {
    padding-left: 20px;
}

.book-summary {
    font-size: 1.3rem !important;
}

.book-body {
    font-size: 1.5rem !important;
}
.copy-code-button {
    display: none;
}
pre:hover > .copy-code-button {
    display: block;
}
